@page
@model HolaGuide.Pages.Home.IndexModel
@{
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>@ViewData["Title"] - HolaGuide</title>
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
        <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
        <link rel="stylesheet" href="~/HolaGuide.styles.css" asp-append-version="true" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha512-..." crossorigin="anonymous" />
        <style>

            :root {
                --bs-indigo: #6610f2;
                --bs-purple: #6f42c1;
                --bs-pink: #d63384;
                --bs-red: #dc3545;
                --bs-orange: #fd7e14;
                --bs-yellow: #ffc107;
                --bs-green: #198754;
                --bs-teal: #20c997;
                --bs-cyan: #0dcaf0;
                --bs-white: #fff;
                --bs-gray: #6c757d;
                --bs-gray-dark: #343a40;
                --bs-primary: #15b9d9;
                --bs-secondary: #efa286;
                --bs-success: #198754;
                --bs-info: #0dcaf0;
                --bs-warning: #ffc107;
                --bs-danger: #dc3545;
                --bs-light: #faf9fb;
                --bs-dark: #202135;
                --bs-font-sans-serif: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
                --bs-font-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
                --bs-gradient: linear-gradient( 180deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0) );
            }

            /*** Spinner Start ***/
            /*** Spinner ***/
            #spinner {
                opacity: 0;
                visibility: hidden;
                transition: opacity .5s ease-out, visibility 0s linear .5s;
                z-index: 99999;
            }

                #spinner.show {
                    transition: opacity .5s ease-out, visibility 0s linear 0s;
                    visibility: visible;
                    opacity: 1;
                }
            /*** Spinner End ***/

            .back-to-top {
                position: fixed;
                right: 30px;
                bottom: 30px;
                display: flex;
                width: 45px;
                height: 45px;
                align-items: center;
                justify-content: center;
                transition: 0.5s;
                z-index: 99;
            }

            /*** Button Start ***/
            .btn {
                font-weight: 600;
                transition: .5s;
            }

            .btn-square {
                width: 32px;
                height: 32px;
            }

            .btn-sm-square {
                width: 34px;
                height: 34px;
            }

            .btn-md-square {
                width: 44px;
                height: 44px;
            }

            .btn-lg-square {
                width: 56px;
                height: 56px;
            }

            .btn-square,
            .btn-sm-square,
            .btn-md-square,
            .btn-lg-square {
                padding: 0;
                display: flex;
                align-items: center;
                justify-content: center;
                font-weight: normal;
                border-radius: 50%;
            }

            .btn.btn-primary {
                box-shadow: inset 0 0 0 0 var(--bs-primary);
            }

                .btn.btn-primary:hover {
                    box-shadow: inset 300px 0 0 0 var(--bs-light) !important;
                    color: var(--bs-primary) !important;
                }

            .btn.btn-light {
                box-shadow: inset 0 0 0 0 var(--bs-primary);
            }

                .btn.btn-light:hover {
                    box-shadow: inset 300px 0 0 0 var(--bs-primary);
                    color: var(--bs-light) !important;
                }

            .btn-hover {
                transition: 0.5s;
            }

                .btn-hover:hover {
                    color: var(--bs-secondary) !important;
                }

            /*** Section Title Start ***/
            .section-title {
                max-width: 900px;
                text-align: center;
                margin: 0 auto;
            }

                .section-title .sub-style {
                    position: relative;
                    display: inline-block;
                    text-transform: uppercase;
                    color: var(--bs-primary);
                }

                    .section-title .sub-style::before {
                        content: "";
                        width: 100px;
                        position: absolute;
                        top: 50%;
                        left: 0;
                        transform: translateY(-50%);
                        margin-top: 8px;
                        margin-left: -100px;
                        border: 1px solid var(--bs-primary) !important;
                    }

                    .section-title .sub-style::after {
                        content: "";
                        width: 50px;
                        position: absolute;
                        top: 50%;
                        left: 0;
                        transform: translateY(-50%);
                        margin-bottom: 5px;
                        margin-left: -50px;
                        border: 1px solid var(--bs-primary) !important;
                    }

            .sub-title {
                position: relative;
                display: inline-block;
                text-transform: uppercase;
                color: var(--bs-primary);
            }

                .sub-title::before {
                    content: "";
                    width: 100px;
                    position: absolute;
                    top: 50%;
                    right: 0;
                    transform: translateY(-50%);
                    margin-top: 8px;
                    margin-right: -100px;
                    border: 1px solid var(--bs-primary) !important;
                }

                .sub-title::after {
                    content: "";
                    width: 50px;
                    position: absolute;
                    top: 50%;
                    right: 0;
                    transform: translateY(-50%);
                    margin-bottom: 8px;
                    margin-right: -50px;
                    border: 1px solid var(--bs-primary) !important;
                }


            /*** Topbar Start ***/
            .fixed-top .container {
                transition: 0.5s;
            }

            .topbar {
                padding: 2px 10px 2px 20px;
                background: var(--bs-primary) !important;
            }

                .topbar a,
                .topbar a i {
                    transition: 0.5s;
                }

                    .topbar a:hover,
                    .topbar a i:hover {
                        color: var(--bs-secondary) !important;
                    }

            /*** Topbar End ***/


            /*** Navbar ***/
            .navbar-light .navbar-nav .nav-link {
                font-family: 'Open Sans', sans-serif;
                position: relative;
                margin-right: 25px;
                padding: 35px 0;
                color: var(--bs-dark) !important;
                font-size: 16px;
                font-weight: 400;
                outline: none;
                transition: .5s;
            }

            .sticky-top.navbar-light .navbar-nav .nav-link {
                padding: 20px 0;
                color: var(--dark) !important;
            }

            .navbar-light .navbar-nav .nav-link:hover,
            .navbar-light .navbar-nav .nav-link.active {
                color: var(--bs-primary) !important;
            }

            .navbar-light .navbar-brand img {
                max-height: 50px;
                transition: .5s;
            }

            .sticky-top.navbar-light .navbar-brand img {
                max-height: 45px;
            }

            .navbar .dropdown-toggle::after {
                border: none;
                content: "\f107";
                font-family: "Font Awesome 5 Free";
                font-weight: 600;
                vertical-align: middle;
                margin-left: 8px;
            }

            .dropdown .dropdown-menu a:hover {
                background: var(--bs-primary);
                color: var(--bs-white);
            }

            .navbar .nav-item:hover .dropdown-menu {
                transform: rotateX(0deg);
                visibility: visible;
                background: var(--bs-light) !important;
                transition: .5s;
                opacity: 1;
            }

            /*** Carousel Hero Header Start ***/
            .header-carousel {
                position: relative;
            }

                .header-carousel .owl-nav .owl-prev {
                    position: absolute;
                    width: 70px;
                    height: 70px;
                    top: 50%;
                    left: 20px;
                    transform: translateY(-50%);
                    border-radius: 50%;
                    background: var(--bs-primary);
                    color: var(--bs-white);
                    font-size: 30px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    transition: 0.5s;
                }

                .header-carousel .owl-nav .owl-next {
                    position: absolute;
                    width: 70px;
                    height: 70px;
                    top: 50%;
                    right: 20px;
                    transform: translateY(-50%);
                    border-radius: 50%;
                    background: var(--bs-primary);
                    color: var(--bs-white);
                    font-size: 30px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    transition: 0.5s;
                }

                .header-carousel .owl-nav .owl-prev,
                .header-carousel .owl-nav .owl-next {
                    transition: 0.5s;
                }

                    .header-carousel .owl-nav .owl-prev:hover,
                    .header-carousel .owl-nav .owl-next:hover {
                        box-shadow: inset 150px 0 0 0 var(--bs-light) !important;
                        color: var(--bs-primary) !important;
                    }



                .header-carousel .header-carousel-item,
                .header-carousel .header-carousel-item img {
                    position: relative;
                    width: 100%;
                    height: 700px;
                    margin-top: 95px;
                    display: block;
                    object-fit: cover;
                    transition: 0.5s;
                }


                    .header-carousel .header-carousel-item .carousel-caption {
                        width: 100%;
                        height: 100%;
                        position: absolute;
                        top: 0;
                        left: 0;
                        padding: 100px 0;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        background: rgba(0, 0, 0, .5);
                    }

                        .header-carousel .header-carousel-item .carousel-caption .carousel-caption-content {
                            position: relative;
                            width: 75%;
                        }
            /*** Carousel Hero Header End ***/


            /*** Single Page Hero Header Start ***/
            .bg-breadcrumb {
                background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/carousel-2.jpg);
                background-position: center center;
                background-repeat: no-repeat;
                background-size: cover;
                padding: 160px 0 60px 0;
            }

                .bg-breadcrumb .breadcrumb-item a {
                    color: var(--bs-white) !important;
                }
            /*** Single Page Hero Header End ***/


            /*** Service Start ***/
            .service .service-item {
                box-shadow: 0 0 45px rgba(0, 0, 0, .2);
            }

                .service .service-item .service-img {
                    position: relative;
                    overflow: hidden;
                    z-index: 1;
                }

                    .service .service-item .service-img img {
                        transition: 0.5s;
                    }

                    .service .service-item .service-img::before {
                        width: 100%;
                        height: 0;
                        position: absolute;
                        content: "";
                        top: 0;
                        left: 0;
                        border-top-right-radius: 10px;
                        border-top-left-radius: 10px;
                        transition: 0.5s;
                        z-index: 5;
                    }

                .service .service-item:hover .service-img::before {
                    height: 100%;
                    background: rgba(21, 185, 217, .3);
                }

                .service .service-item .service-img:hover img {
                    transform: scale(1.3);
                }

                .service .service-item .service-content {
                    position: relative;
                    z-index: 2;
                }

                    .service .service-item .service-content::before {
                        width: 100%;
                        height: 8px;
                        position: absolute;
                        content: "";
                        bottom: 0;
                        left: 0;
                        border-bottom-left-radius: 10px;
                        border-bottom-right-radius: 10px;
                        background: rgba(21, 185, 217, .5);
                        transition: 0.5s;
                        z-index: 3;
                    }

                .service .service-item:hover .service-content::before {
                    background: rgba(21, 185, 217, .5);
                    height: 100%;
                }

                .service .service-item .service-content .service-content-inner {
                    transition: 0.5s;
                }


                .service .service-item:hover .service-content .service-content-inner {
                    position: relative;
                    color: var(--bs-white) !important;
                    z-index: 9;
                }

                    .service .service-item:hover .service-content .service-content-inner h5 {
                        color: var(--bs-secondary);
                    }

            /*** Service End ***/

            /*** About Start ***/
            .about .about-img {
                position: relative;
                overflow: hidden;
                height: 100%;
                border-radius: 10px;
            }

                .about .about-img .about-img-inner {
                    position: absolute;
                    left: 0;
                    bottom: 0;
                    border: 10px solid;
                    border-color: var(--bs-white) var(--bs-white) var(--bs-white) var(--bs-white);
                    border-radius: 50%;
                }

                .about .about-img .about-experience {
                    position: absolute;
                    top: 125px;
                    left: -125px;
                    transform: rotate(-90deg);
                    background: transparent;
                    color: var(--bs-primary);
                    font-size: 20px;
                    font-weight: 600;
                    letter-spacing: 4px;
                }

            /*** About End ***/

            /*** Feature Start ***/
            .feature .feature-item {
                position: relative;
                display: flex;
                border: 1px solid var(--bs-primary);
                border-radius: 10px;
                background: var(--bs-light);
                transition: 0.5s;
            }

                .feature .feature-item::before {
                    width: 0;
                    height: 100%;
                    content: "";
                    position: absolute;
                    top: 0;
                    left: 0;
                    border-radius: 10px;
                    transition: 0.5s;
                }

                .feature .feature-item:hover::before {
                    width: 100%;
                    background: var(--bs-primary);
                }

                .feature .feature-item .feature-icon {
                    display: inline-flex;
                    border-radius: 10px;
                    transition: 0.5s;
                }

                .feature .feature-item:hover .feature-icon {
                    position: relative;
                    z-index: 2;
                }

                .feature .feature-item:hover .feature-content {
                    position: relative;
                    color: var(--bs-white);
                    z-index: 2;
                }

                    .feature .feature-item:hover .feature-content h5 {
                        color: var(--bs-dark);
                    }
            /*** Feature End ***/


            /*** Appointment Start ***/
            .appointment {
                background: linear-gradient(rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.9)), url(../img/carousel-2.jpg);
                background-position: center center;
                background-repeat: no-repeat;
                background-size: cover;
                background-attachment: fixed;
            }

                .appointment .appointment-form {
                    background: rgba(239, 162, 134, 0.3);
                }

                    .appointment .appointment-form .btn.btn-primary {
                        box-shadow: inset 0 0 0 0 var(--bs-primary);
                    }

                        .appointment .appointment-form .btn.btn-primary:hover {
                            box-shadow: inset 600px 0 0 0 var(--bs-light) !important;
                            color: var(--bs-primary) !important;
                        }
            /*** Youtube Video start ***/
            .video {
                position: relative;
            }

                .video .btn-play {
                    position: absolute;
                    z-index: 3;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    box-sizing: content-box;
                    display: block;
                    width: 33px;
                    height: 44px;
                    border-radius: 50%;
                    transition: 0.5s;
                }

                    .video .btn-play:before {
                        content: "";
                        position: absolute;
                        z-index: 0;
                        left: 50%;
                        top: 50%;
                        transform: translate(-50%, -50%);
                        display: block;
                        width: 115px;
                        height: 115px;
                        background: var(--bs-primary);
                        border-radius: 50%;
                        animation: pulse-border 1500ms ease-out infinite;
                        transition: 0.5s;
                    }

                    .video .btn-play:after {
                        content: "";
                        position: absolute;
                        z-index: 1;
                        left: 50%;
                        top: 50%;
                        transform: translate(-50%, -50%);
                        display: block;
                        width: 100px;
                        height: 100px;
                        background: var(--bs-secondary);
                        border-radius: 50%;
                        transition: all 300ms;
                    }

                    .video .btn-play span {
                        display: block;
                        position: relative;
                        z-index: 3;
                        width: 0;
                        height: 0;
                        border-left: 33px solid var(--bs-white);
                        border-top: 22px solid transparent;
                        border-bottom: 22px solid transparent;
                        margin-left: 5px;
                    }



            #videoModal {
                z-index: 99999;
            }

                #videoModal .modal-dialog {
                    position: relative;
                    max-width: 800px;
                    margin: 60px auto 0 auto;
                }

                #videoModal .modal-body {
                    position: relative;
                    padding: 0px;
                }

                #videoModal .close {
                    position: absolute;
                    width: 30px;
                    height: 30px;
                    right: 0px;
                    top: -30px;
                    z-index: 999;
                    font-size: 30px;
                    font-weight: normal;
                    color: #ffffff;
                    background: #000000;
                    opacity: 1;
                }
            /*** Youtube Video End ***/
            /*** Appointment End ***/


            /*** Team Start ***/
            .team .team-item .team-img {
                position: relative;
                overflow: hidden;
            }

                .team .team-item .team-img::before {
                    position: absolute;
                    content: "";
                    width: 100%;
                    height: 100%;
                    top: 0;
                    left: 0;
                    border-top-right-radius: 10px;
                    border-top-left-radius: 10px;
                    transition: 0.5s;
                }

                .team .team-item .team-img .team-icon {
                    position: absolute;
                    bottom: -125px;
                    left: 50%;
                    transform: translateX(-50%);
                    transition: 0.5s;
                }

                .team .team-item .team-img:hover .team-icon {
                    margin-bottom: 145px;
                }

            .team .team-item:hover .team-img::before {
                background: rgba(21, 185, 217, .3);
            }

            .team .team-item .team-content {
                color: var(--bs-primary);
                transition: 0.5s;
            }

                .team .team-item .team-content h5 {
                    color: var(--bs-secondary);
                    transition: 0.5s;
                }

            .team .team-item:hover .team-content h5 {
                color: var(--bs-dark);
            }

            .team .team-item:hover .team-content {
                background: var(--bs-primary);
                color: var(--bs-white);
            }
            /*** Team End ***/


            /*** testimonial Start ***/
            .testimonial {
                background: linear-gradient(rgba(21, 185, 217, 0.9), rgba(21, 185, 217, 0.9)), url(../img/carousel-1.jpg);
                background-position: center center;
                background-repeat: no-repeat;
                background-size: cover;
                background-attachment: fixed;
            }

                .testimonial .testimonial-item .testimonial-inner {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    text-align: center;
                    border-radius: 10px;
                    background: transparent;
                }

                    .testimonial .testimonial-item .testimonial-inner .testimonial-inner-img {
                        width: 100px;
                        height: 100px;
                        border-radius: 50%;
                        border: 5px solid var(--bs-white);
                    }

                .testimonial .testimonial-carousel.owl-carousel {
                    position: relative;
                }

                .testimonial .testimonial-carousel .owl-nav .owl-prev {
                    position: absolute;
                    top: 50%;
                    left: -20px;
                    transform: translateY(-50%);
                    width: 60px;
                    height: 60px;
                    border-radius: 50%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    font-size: 20px;
                    background: var(--bs-light);
                    color: var(--bs-primary);
                    transition: 0.5s;
                }

                .testimonial .testimonial-carousel .owl-nav .owl-next {
                    position: absolute;
                    top: 50%;
                    right: -20px;
                    transform: translateY(-50%);
                    width: 60px;
                    height: 60px;
                    border-radius: 50%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    font-size: 20px;
                    background: var(--bs-light);
                    color: var(--bs-primary);
                    transition: 0.5s;
                }


                    .testimonial .testimonial-carousel .owl-nav .owl-prev:hover,
                    .testimonial .testimonial-carousel .owl-nav .owl-next:hover {
                        box-shadow: inset 100px 0 0 0 var(--bs-primary) !important;
                        color: var(--bs-white) !important;
                    }


            .testimonial-carousel .owl-dots {
                display: flex;
                justify-content: center;
                margin-top: 20px;
            }

                .testimonial-carousel .owl-dots .owl-dot {
                    width: 20px;
                    height: 20px;
                    border-radius: 50%;
                    margin-right: 15px;
                    border: 1px solid var(--bs-white);
                    background: transparent;
                    transition: 0.5s;
                }

                    .testimonial-carousel .owl-dots .owl-dot.active {
                        width: 20px;
                        height: 20px;
                        background: var(--bs-secondary) !important;
                    }

                    .testimonial-carousel .owl-dots .owl-dot span {
                        position: relative;
                        margin-top: 50%;
                        margin-left: 50%;
                        transform: translate(-50%, -50%);
                        display: flex;
                        align-items: center;
                        justify-content: center;
                    }

                        .testimonial-carousel .owl-dots .owl-dot span::after {
                            content: "";
                            position: absolute;
                            top: 50%;
                            right: 1px;
                            transform: translateY(-50%);
                            width: 8px;
                            height: 8px;
                            border-radius: 8px;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            text-align: center;
                            background: var(--bs-white);
                        }

            .testimonial .testimonial-carousel .testimonial-item .testimonial-inner p.fs-7 {
                transition: 0.5s;
            }



            /* Testimonial Section Title Start */
            .testimonial .section-title {
                max-width: 900px;
                text-align: center;
                margin: 0 auto;
            }

                .testimonial .section-title .sub-style {
                    position: relative;
                    display: inline-block;
                    text-transform: uppercase;
                    color: var(--bs-primary);
                }

                    .testimonial .section-title .sub-style::before {
                        content: "";
                        width: 100px;
                        position: absolute;
                        top: 50%;
                        left: 0;
                        transform: translateY(-50%);
                        margin-top: 8px;
                        margin-left: -100px;
                        border: 1px solid var(--bs-white) !important;
                    }

                    .testimonial .section-title .sub-style::after {
                        content: "";
                        width: 50px;
                        position: absolute;
                        top: 50%;
                        left: 0;
                        transform: translateY(-50%);
                        margin-bottom: 5px;
                        margin-left: -50px;
                        border: 1px solid var(--bs-white) !important;
                    }

                .testimonial .section-title .sub-title {
                    position: relative;
                    display: inline-block;
                    text-transform: uppercase;
                    color: var(--bs-primary);
                }

                    .testimonial .section-title .sub-title::before {
                        content: "";
                        width: 100px;
                        position: absolute;
                        top: 50%;
                        right: 0;
                        transform: translateY(-50%);
                        margin-top: 8px;
                        margin-right: -100px;
                        border: 1px solid var(--bs-white) !important;
                    }

                    .testimonial .section-title .sub-title::after {
                        content: "";
                        width: 50px;
                        position: absolute;
                        top: 50%;
                        right: 0;
                        transform: translateY(-50%);
                        margin-bottom: 8px;
                        margin-right: -50px;
                        border: 1px solid var(--bs-white) !important;
                    }
            /*** Testimonial End ***/


            /*** Blog Start ***/
            .blog .blog-item .blog-img {
                position: relative;
                overflow: hidden;
                border-top-right-radius: 10px;
                border-top-left-radius: 10px;
            }

                .blog .blog-item .blog-img::after {
                    content: "";
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    border-top-right-radius: 10px;
                    border-top-left-radius: 10px;
                    transition: 0.5s;
                }

                .blog .blog-item .blog-img img {
                    transition: 0.5s;
                }

                .blog .blog-item .blog-img:hover img {
                    transform: scale(1.3);
                }

            .blog .blog-item:hover .blog-img::after {
                background: rgba(21, 185, 217, .5);
            }

            .blog .blog-item .blog-centent {
                background: var(--bs-light);
                border: 1px solid var(--bs-primary);
                border-top: 0;
                border-bottom-left-radius: 10px;
                border-bottom-right-radius: 10px;
            }
            /*** Blog End ***/


            /*** Contact Start ***/
            .contact {
                background: linear-gradient(rgba(21, 185, 217, 0.9), rgba(21, 185, 217, 0.9)), url(../img/carousel-1.jpg);
                background-position: center center;
                background-repeat: no-repeat;
                background-size: cover;
                background-attachment: fixed;
            }


                .contact .contact-form .btn.btn-light {
                    box-shadow: inset 0 0 0 0 var(--bs-primary);
                }

                    .contact .contact-form .btn.btn-light:hover {
                        box-shadow: inset 600px 0 0 0 var(--bs-primary) !important;
                        color: var(--bs-white) !important;
                    }

                .contact .contact-form .form-floating input,
                .contact .contact-form .form-floating textarea,
                .contact .contact-form .form-floating label {
                    color: var(--bs-light);
                }



                /* Testimonial Section Title Start */
                .contact .section-title {
                    max-width: 900px;
                    text-align: center;
                    margin: 0 auto;
                }

                    .contact .section-title .sub-style {
                        position: relative;
                        display: inline-block;
                        text-transform: uppercase;
                        color: var(--bs-primary);
                    }

                        .contact .section-title .sub-style::before {
                            content: "";
                            width: 100px;
                            position: absolute;
                            top: 50%;
                            left: 0;
                            transform: translateY(-50%);
                            margin-top: 8px;
                            margin-left: -100px;
                            border: 1px solid var(--bs-white) !important;
                        }

                        .contact .section-title .sub-style::after {
                            content: "";
                            width: 50px;
                            position: absolute;
                            top: 50%;
                            left: 0;
                            transform: translateY(-50%);
                            margin-bottom: 5px;
                            margin-left: -50px;
                            border: 1px solid var(--bs-white) !important;
                        }

                    .contact .section-title .sub-title {
                        position: relative;
                        display: inline-block;
                        text-transform: uppercase;
                        color: var(--bs-primary);
                    }

                        .contact .section-title .sub-title::before {
                            content: "";
                            width: 100px;
                            position: absolute;
                            top: 50%;
                            right: 0;
                            transform: translateY(-50%);
                            margin-top: 8px;
                            margin-right: -100px;
                            border: 1px solid var(--bs-white) !important;
                        }

                        .contact .section-title .sub-title::after {
                            content: "";
                            width: 50px;
                            position: absolute;
                            top: 50%;
                            right: 0;
                            transform: translateY(-50%);
                            margin-bottom: 8px;
                            margin-right: -50px;
                            border: 1px solid var(--bs-white) !important;
                        }
            /*** Contact End ***/


            /*** Footer Start ***/
            .footer {
                background: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.9)), url(../img/carousel-2.jpg);
                background-position: center center;
                background-repeat: no-repeat;
                background-size: cover;
            }

                .footer .footer-item a {
                    line-height: 35px;
                    color: var(--bs-body);
                    transition: 0.5s;
                }

                .footer .footer-item p {
                    line-height: 35px;
                }

                .footer .footer-item a:hover {
                    letter-spacing: 2px;
                    color: var(--bs-primary);
                }

            /*** Footer End ***/

            /*** copyright Start ***/
            .copyright {
                background: var(--bs-dark) !important;
            }
            /*** copyright end ***/
        </style>
    </head>

    <div class="container-fluid service py-5">
        <div class="container py-5">
            <div class="section-title mb-5 wow fadeInUp" data-wow-delay="0.2s">
                <div class="sub-style">
                    <h4 class="sub-title px-3 mb-0">What We Do</h4>
                </div>
                <h1 class="display-3 mb-4">Our Service Given Physio Therapy By Expert.</h1>
                <p class="mb-0">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat deleniti amet at atque sequi quibusdam cumque itaque repudiandae temporibus, eius nam mollitia voluptas maxime veniam necessitatibus saepe in ab? Repellat!</p>
            </div>
            <div class="row g-4 justify-content-center">
                <div class="col-md-6 col-lg-4 col-xl-3 wow fadeInUp" data-wow-delay="0.1s">
                    <div class="service-item rounded">
                        <div class="service-img rounded-top">
                            <img src="img/service-1.jpg" class="img-fluid rounded-top w-100" alt="">
                        </div>
                        <div class="service-content rounded-bottom bg-light p-4">
                            <div class="service-content-inner">
                                <h5 class="mb-4">Message Therapy</h5>
                                <p class="mb-4">Dolor, sit amet consectetur adipisicing elit. Soluta inventore cum accusamus, dolor qui ullam</p>
                                <a href="#" class="btn btn-primary rounded-pill text-white py-2 px-4 mb-2">Read More</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4 col-xl-3 wow fadeInUp" data-wow-delay="0.3s">
                    <div class="service-item rounded">
                        <div class="service-img rounded-top">
                            <img src="img/service-2.jpg" class="img-fluid rounded-top w-100" alt="">
                        </div>
                        <div class="service-content rounded-bottom bg-light p-4">
                            <div class="service-content-inner">
                                <h5 class="mb-4">Physiotherapy</h5>
                                <p class="mb-4">Dolor, sit amet consectetur adipisicing elit. Soluta inventore cum accusamus, dolor qui ullam</p>
                                <a href="#" class="btn btn-primary rounded-pill text-white py-2 px-4 mb-2">Read More</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4 col-xl-3 wow fadeInUp" data-wow-delay="0.5s">
                    <div class="service-item rounded">
                        <div class="service-img rounded-top">
                            <img src="img/service-3.jpg" class="img-fluid rounded-top w-100" alt="">
                        </div>
                        <div class="service-content rounded-bottom bg-light p-4">
                            <div class="service-content-inner">
                                <h5 class="mb-4">Heat & Cold Therapy</h5>
                                <p class="mb-4">Dolor, sit amet consectetur adipisicing elit. Soluta inventore cum accusamus, dolor qui ullam</p>
                                <a href="#" class="btn btn-primary rounded-pill text-white py-2 px-4 mb-2">Read More</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4 col-xl-3 wow fadeInUp" data-wow-delay="0.7s">
                    <div class="service-item rounded">
                        <div class="service-img rounded-top">
                            <img src="img/service-4.jpg" class="img-fluid rounded-top w-100" alt="">
                        </div>
                        <div class="service-content rounded-bottom bg-light p-4">
                            <div class="service-content-inner">
                                <h5 class="mb-4">Chiropatic Therapy</h5>
                                <p class="mb-4">Dolor, sit amet consectetur adipisicing elit. Soluta inventore cum accusamus, dolor qui ullam</p>
                                <a href="#" class="btn btn-primary rounded-pill text-white py-2 px-4 mb-2">Read More</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4 col-xl-3 wow fadeInUp" data-wow-delay="0.1s">
                    <div class="service-item rounded">
                        <div class="service-img rounded-top">
                            <img src="img/service-5.jpg" class="img-fluid rounded-top w-100" alt="">
                        </div>
                        <div class="service-content rounded-bottom bg-light p-4">
                            <div class="service-content-inner">
                                <h5 class="mb-4">Work Injuries</h5>
                                <p class="mb-4">Dolor, sit amet consectetur adipisicing elit. Soluta inventore cum accusamus, dolor qui ullam</p>
                                <a href="#" class="btn btn-primary rounded-pill text-white py-2 px-4 mb-2">Read More</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4 col-xl-3 wow fadeInUp" data-wow-delay="0.3s">
                    <div class="service-item rounded">
                        <div class="service-img rounded-top">
                            <img src="img/service-6.jpg" class="img-fluid rounded-top w-100" alt="">
                        </div>
                        <div class="service-content rounded-bottom bg-light p-4">
                            <div class="service-content-inner">
                                <h5 class="mb-4">Spot Injuries</h5>
                                <p class="mb-4">Dolor, sit amet consectetur adipisicing elit. Soluta inventore cum accusamus, dolor qui ullam</p>
                                <a href="#" class="btn btn-primary rounded-pill text-white py-2 px-4 mb-2">Read More</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4 col-xl-3 wow fadeInUp" data-wow-delay="0.5s">
                    <div class="service-item rounded">
                        <div class="service-img rounded-top">
                            <img src="img/service-7.jpg" class="img-fluid rounded-top w-100" alt="">
                        </div>
                        <div class="service-content rounded-bottom bg-light p-4">
                            <div class="service-content-inner">
                                <h5 class="mb-4">Regular Therapy</h5>
                                <p class="mb-4">Dolor, sit amet consectetur adipisicing elit. Soluta inventore cum accusamus, dolor qui ullam</p>
                                <a href="#" class="btn btn-primary rounded-pill text-white py-2 px-4 mb-2">Read More</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4 col-xl-3 wow fadeInUp" data-wow-delay="0.7s">
                    <div class="service-item rounded">
                        <div class="service-img rounded-top">
                            <img src="img/service-8.jpg" class="img-fluid rounded-top w-100" alt="">
                        </div>
                        <div class="service-content rounded-bottom bg-light p-4">
                            <div class="service-content-inner">
                                <h5 class="mb-4">Back Pain</h5>
                                <p class="mb-4">Dolor, sit amet consectetur adipisicing elit. Soluta inventore cum accusamus, dolor qui ullam</p>
                                <a href="#" class="btn btn-primary rounded-pill text-white py-2 px-4 mb-2">Read More</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 text-center wow fadeInUp" data-wow-delay="0.2s">
                    <a class="btn btn-primary rounded-pill text-white py-3 px-5" href="#">Services More</a>
                </div>
            </div>
        </div>
    </div>
    <!-- Services End -->
    <!-- About Start -->
    <div class="container-fluid about bg-light py-5">
        <div class="container py-5">
            <div class="row g-5 align-items-center">
                <div class="col-lg-5 wow fadeInLeft" data-wow-delay="0.2s">
                    <div class="about-img pb-5 ps-5">
                        <img src="img/about-1.jpg" class="img-fluid rounded w-100" style="object-fit: cover;" alt="Image">
                        <div class="about-img-inner">
                            <img src="img/about-2.jpg" class="img-fluid rounded-circle w-100 h-100" alt="Image">
                        </div>
                        <div class="about-experience">15 years experience</div>
                    </div>
                </div>
                <div class="col-lg-7 wow fadeInRight" data-wow-delay="0.4s">
                    <div class="section-title text-start mb-5">
                        <h4 class="sub-title pe-3 mb-0">About Us</h4>
                        <h1 class="display-3 mb-4">We are Ready to Help Improve Your Treatment.</h1>
                        <p class="mb-4">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat deleniti amet at atque sequi quibusdam cumque itaque repudiandae temporibus, eius nam mollitia voluptas maxime veniam necessitatibus saepe in ab? Repellat!</p>
                        <div class="mb-4">
                            <p class="text-secondary"><i class="fa fa-check text-primary me-2"></i> Refresing to get such a personal touch.</p>
                            <p class="text-secondary"><i class="fa fa-check text-primary me-2"></i> Duis aute irure dolor in reprehenderit in voluptate.</p>
                            <p class="text-secondary"><i class="fa fa-check text-primary me-2"></i> Velit esse cillum dolore eu fugiat nulla pariatur.</p>
                        </div>
                        <a href="#" class="btn btn-primary rounded-pill text-white py-3 px-5">Discover More</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- About End -->
    <!-- Feature Start -->
    <div class="container-fluid feature py-5">
        <div class="container py-5">
            <div class="section-title mb-5 wow fadeInUp" data-wow-delay="0.1s">
                <div class="sub-style">
                    <h4 class="sub-title px-3 mb-0">Why Choose Us</h4>
                </div>
                <h1 class="display-3 mb-4">Why Choose Us? Get Your Life Style Back</h1>
                <p class="mb-0">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat deleniti amet at atque sequi quibusdam cumque itaque repudiandae temporibus, eius nam mollitia voluptas maxime veniam necessitatibus saepe in ab? Repellat!</p>
            </div>
            <div class="row g-4 justify-content-center">
                <div class="col-md-6 col-lg-4 col-xl-3 wow fadeInUp" data-wow-delay="0.1s">
                    <div class="row-cols-1 feature-item p-4">
                        <div class="col-12">
                            <div class="feature-icon mb-4">
                                <div class="p-3 d-inline-flex bg-white rounded">
                                    <i class="fas fa-diagnoses fa-4x text-primary"></i>
                                </div>
                            </div>
                            <div class="feature-content d-flex flex-column">
                                <h5 class="mb-4">Licensed Therapist</h5>
                                <p class="mb-0">Dolor, sit amet consectetur adipisicing elit. Soluta inventore cum accusamus,</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4 col-xl-3 wow fadeInUp" data-wow-delay="0.3s">
                    <div class="row-cols-1 feature-item p-4">
                        <div class="col-12">
                            <div class="feature-icon mb-4">
                                <div class="p-3 d-inline-flex bg-white rounded">
                                    <i class="fas fa-briefcase-medical fa-4x text-primary"></i>
                                </div>
                            </div>
                            <div class="feature-content d-flex flex-column">
                                <h5 class="mb-4">Personalized Treatment</h5>
                                <p class="mb-0">Dolor, sit amet consectetur adipisicing elit. Soluta inventore cum accusamus,</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4 col-xl-3 wow fadeInUp" data-wow-delay="0.5s">
                    <div class="row-cols-1 feature-item p-4">
                        <div class="col-12">
                            <div class="feature-icon mb-4">
                                <div class="p-3 d-inline-flex bg-white rounded">
                                    <i class="fas fa-hospital-user fa-4x text-primary"></i>
                                </div>
                            </div>
                            <div class="feature-content d-flex flex-column">
                                <h5 class="mb-4">Therapy Goals</h5>
                                <p class="mb-0">Dolor, sit amet consectetur adipisicing elit. Soluta inventore cum accusamus,</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4 col-xl-3 wow fadeInUp" data-wow-delay="0.7s">
                    <div class="row-cols-1 feature-item p-4">
                        <div class="col-12">
                            <div class="feature-icon mb-4">
                                <div class="p-3 d-inline-flex bg-white rounded">
                                    <i class="fas fa-users fa-4x text-primary"></i>
                                </div>
                            </div>
                            <div class="feature-content d-flex flex-column">
                                <h5 class="mb-4">Practitioners Network</h5>
                                <p class="mb-0">Dolor, sit amet consectetur adipisicing elit. Soluta inventore cum accusamus,</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4 col-xl-3 wow fadeInUp" data-wow-delay="0.1s">
                    <div class="row-cols-1 feature-item p-4">
                        <div class="col-12">
                            <div class="feature-icon mb-4">
                                <div class="p-3 d-inline-flex bg-white rounded">
                                    <i class="fas fa-spa fa-4x text-primary"></i>
                                </div>
                            </div>
                            <div class="feature-content d-flex flex-column">
                                <h5 class="mb-4">Comfortable Center</h5>
                                <p class="mb-0">Dolor, sit amet consectetur adipisicing elit. Soluta inventore cum accusamus,</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4 col-xl-3 wow fadeInUp" data-wow-delay="0.3s">
                    <div class="row-cols-1 feature-item p-4">
                        <div class="col-12">
                            <div class="feature-icon mb-4">
                                <div class="p-3 d-inline-flex bg-white rounded">
                                    <i class="fas fa-heart fa-4x text-primary"></i>
                                </div>
                            </div>
                            <div class="feature-content d-flex flex-column">
                                <h5 class="mb-4">Experienced Stuff</h5>
                                <p class="mb-0">Dolor, sit amet consectetur adipisicing elit. Soluta inventore cum accusamus,</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4 col-xl-3 wow fadeInUp" data-wow-delay="0.5s">
                    <div class="row-cols-1 feature-item p-4">
                        <div class="col-12">
                            <div class="feature-icon mb-4">
                                <div class="p-3 d-inline-flex bg-white rounded">
                                    <i class="fab fa-pied-piper fa-4x text-primary"></i>
                                </div>
                            </div>
                            <div class="feature-content d-flex flex-column">
                                <h5 class="mb-4">Therapy Goals</h5>
                                <p class="mb-0">Dolor, sit amet consectetur adipisicing elit. Soluta inventore cum accusamus,</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4 col-xl-3 wow fadeInUp" data-wow-delay="0.7s">
                    <div class="row-cols-1 feature-item p-4">
                        <div class="col-12">
                            <div class="feature-icon mb-4">
                                <div class="p-3 d-inline-flex bg-white rounded">
                                    <i class="fas fa-user-md fa-4x text-primary"></i>
                                </div>
                            </div>
                            <div class="feature-content d-flex flex-column">
                                <h5 class="mb-4">Licensed Therapist</h5>
                                <p class="mb-0">Dolor, sit amet consectetur adipisicing elit. Soluta inventore cum accusamus,</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 text-center wow fadeInUp" data-wow-delay="0.2s">
                    <a href="#" class="btn btn-primary rounded-pill text-white py-3 px-5">More Details</a>
                </div>
            </div>
        </div>
    </div>
    <!-- Feature End -->
    <!-- Book Appointment Start -->
    <div class="container-fluid appointment py-5">
        <div class="container py-5">
            <div class="row g-5 align-items-center">
                <div class="col-lg-6 wow fadeInLeft" data-wow-delay="0.2">
                    <div class="section-title text-start">
                        <h4 class="sub-title pe-3 mb-0">Solutions To Your Pain</h4>
                        <h1 class="display-4 mb-4">Best Quality Services With Minimal Pain Rate</h1>
                        <p class="mb-4">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat deleniti amet at atque sequi quibusdam cumque itaque repudiandae temporibus, eius nam mollitia voluptas maxime veniam necessitatibus saepe in ab? Repellat!</p>
                        <div class="row g-4">
                            <div class="col-sm-6">
                                <div class="d-flex flex-column h-100">
                                    <div class="mb-4">
                                        <h5 class="mb-3"><i class="fa fa-check text-primary me-2"></i> Body Relaxation</h5>
                                        <p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Et deserunt qui cupiditate veritatis enim ducimus.</p>
                                    </div>
                                    <div class="mb-4">
                                        <h5 class="mb-3"><i class="fa fa-check text-primary me-2"></i> Body Relaxation</h5>
                                        <p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Et deserunt qui cupiditate veritatis enim ducimus.</p>
                                    </div>
                                    <div class="text-start mb-4">
                                        <a href="#" class="btn btn-primary rounded-pill text-white py-3 px-5">More Details</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="video h-100">
                                    <img src="img/video-img.jpg" class="img-fluid rounded w-100 h-100" style="object-fit: cover;" alt="">
                                    <button type="button" class="btn btn-play" data-bs-toggle="modal" data-src="https://www.youtube.com/embed/DWRcNpR6Kdc" data-bs-target="#videoModal">
                                        <span></span>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 wow fadeInRight" data-wow-delay="0.4s">
                    <div class="appointment-form rounded p-5">
                        <p class="fs-4 text-uppercase text-primary">Get In Touch</p>
                        <h1 class="display-5 mb-4">Get Appointment</h1>
                        <form>
                            <div class="row gy-3 gx-4">
                                <div class="col-xl-6">
                                    <input type="text" class="form-control py-3 border-primary bg-transparent text-white" placeholder="First Name">
                                </div>
                                <div class="col-xl-6">
                                    <input type="email" class="form-control py-3 border-primary bg-transparent text-white" placeholder="Email">
                                </div>
                                <div class="col-xl-6">
                                    <input type="phone" class="form-control py-3 border-primary bg-transparent" placeholder="Phone">
                                </div>
                                <div class="col-xl-6">
                                    <select class="form-select py-3 border-primary bg-transparent" aria-label="Default select example">
                                        <option selected>Your Gender</option>
                                        <option value="1">Male</option>
                                        <option value="2">FeMale</option>
                                        <option value="3">Others</option>
                                    </select>
                                </div>
                                <div class="col-xl-6">
                                    <input type="date" class="form-control py-3 border-primary bg-transparent">
                                </div>
                                <div class="col-xl-6">
                                    <select class="form-select py-3 border-primary bg-transparent" aria-label="Default select example">
                                        <option selected>Department</option>
                                        <option value="1">Physiotherapy</option>
                                        <option value="2">Physical Helth</option>
                                        <option value="2">Treatments</option>
                                    </select>
                                </div>
                                <div class="col-12">
                                    <textarea class="form-control border-primary bg-transparent text-white" name="text" id="area-text" cols="30" rows="5" placeholder="Write Comments"></textarea>
                                </div>
                                <div class="col-12">
                                    <button type="button" class="btn btn-primary text-white w-100 py-3 px-5">SUBMIT NOW</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal Video -->
    <div class="modal fade" id="videoModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content rounded-0">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Youtube Video</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <!-- 16:9 aspect ratio -->
                    <div class="ratio ratio-16x9">
                        <iframe class="embed-responsive-item" src="" id="video" allowfullscreen allowscriptaccess="always"
                                allow="autoplay"></iframe>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Book Appointment End -->
    <!-- Team Start -->
    <div class="container-fluid team py-5">
        <div class="container py-5">
            <div class="section-title mb-5 wow fadeInUp" data-wow-delay="0.1s">
                <div class="sub-style">
                    <h4 class="sub-title px-3 mb-0">Meet our team</h4>
                </div>
                <h1 class="display-3 mb-4">Physiotherapy Services from Professional Therapist</h1>
                <p class="mb-0">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat deleniti amet at atque sequi quibusdam cumque itaque repudiandae temporibus, eius nam mollitia voluptas maxime veniam necessitatibus saepe in ab? Repellat!</p>
            </div>
            <div class="row g-4 justify-content-center">
                <div class="col-md-6 col-lg-6 col-xl-3 wow fadeInUp" data-wow-delay="0.1s">
                    <div class="team-item rounded">
                        <div class="team-img rounded-top h-100">
                            <img src="img/team-1.jpg" class="img-fluid rounded-top w-100" alt="">
                            <div class="team-icon d-flex justify-content-center">
                                <a class="btn btn-square btn-primary text-white rounded-circle mx-1" href=""><i class="fab fa-facebook-f"></i></a>
                                <a class="btn btn-square btn-primary text-white rounded-circle mx-1" href=""><i class="fab fa-twitter"></i></a>
                                <a class="btn btn-square btn-primary text-white rounded-circle mx-1" href=""><i class="fab fa-instagram"></i></a>
                                <a class="btn btn-square btn-primary text-white rounded-circle mx-1" href=""><i class="fab fa-linkedin-in"></i></a>
                            </div>
                        </div>
                        <div class="team-content text-center border border-primary border-top-0 rounded-bottom p-4">
                            <h5>Full Name</h5>
                            <p class="mb-0">Message Physio Therapist</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-6 col-xl-3 wow fadeInUp" data-wow-delay="0.3s">
                    <div class="team-item rounded">
                        <div class="team-img rounded-top h-100">
                            <img src="img/team-2.jpg" class="img-fluid rounded-top w-100" alt="">
                            <div class="team-icon d-flex justify-content-center">
                                <a class="btn btn-square btn-primary text-white rounded-circle mx-1" href=""><i class="fab fa-facebook-f"></i></a>
                                <a class="btn btn-square btn-primary text-white rounded-circle mx-1" href=""><i class="fab fa-twitter"></i></a>
                                <a class="btn btn-square btn-primary text-white rounded-circle mx-1" href=""><i class="fab fa-instagram"></i></a>
                                <a class="btn btn-square btn-primary text-white rounded-circle mx-1" href=""><i class="fab fa-linkedin-in"></i></a>
                            </div>
                        </div>
                        <div class="team-content text-center border border-primary border-top-0 rounded-bottom p-4">
                            <h5>Full Name</h5>
                            <p class="mb-0">Rehabilitation Therapist</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-6 col-xl-3 wow fadeInUp" data-wow-delay="0.5s">
                    <div class="team-item rounded">
                        <div class="team-img rounded-top h-100">
                            <img src="img/team-3.jpg" class="img-fluid rounded-top w-100" alt="">
                            <div class="team-icon d-flex justify-content-center">
                                <a class="btn btn-square btn-primary text-white rounded-circle mx-1" href=""><i class="fab fa-facebook-f"></i></a>
                                <a class="btn btn-square btn-primary text-white rounded-circle mx-1" href=""><i class="fab fa-twitter"></i></a>
                                <a class="btn btn-square btn-primary text-white rounded-circle mx-1" href=""><i class="fab fa-instagram"></i></a>
                                <a class="btn btn-square btn-primary text-white rounded-circle mx-1" href=""><i class="fab fa-linkedin-in"></i></a>
                            </div>
                        </div>
                        <div class="team-content text-center border border-primary border-top-0 rounded-bottom p-4">
                            <h5>Full Name</h5>
                            <p class="mb-0">Doctor of Physical therapy</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-6 col-xl-3 wow fadeInUp" data-wow-delay="0.7s">
                    <div class="team-item rounded">
                        <div class="team-img rounded-top h-100">
                            <img src="img/team-4.jpg" class="img-fluid rounded-top w-100" alt="">
                            <div class="team-icon d-flex justify-content-center">
                                <a class="btn btn-square btn-primary text-white rounded-circle mx-1" href=""><i class="fab fa-facebook-f"></i></a>
                                <a class="btn btn-square btn-primary text-white rounded-circle mx-1" href=""><i class="fab fa-twitter"></i></a>
                                <a class="btn btn-square btn-primary text-white rounded-circle mx-1" href=""><i class="fab fa-instagram"></i></a>
                                <a class="btn btn-square btn-primary text-white rounded-circle mx-1" href=""><i class="fab fa-linkedin-in"></i></a>
                            </div>
                        </div>
                        <div class="team-content text-center border border-primary border-top-0 rounded-bottom p-4">
                            <h5>Full Name</h5>
                            <p class="mb-0">Doctor of Physical therapy</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Team End -->
    <!-- Testimonial Start -->
    <div class="container-fluid testimonial py-5 wow zoomInDown" data-wow-delay="0.1s">
        <div class="container py-5">
            <div class="section-title mb-5">
                <div class="sub-style">
                    <h4 class="sub-title text-white px-3 mb-0">Testimonial</h4>
                </div>
                <h1 class="display-3 mb-4">What Clients are Say</h1>
            </div>
            <div class="testimonial-carousel owl-carousel">
                <div class="testimonial-item">
                    <div class="testimonial-inner p-5">
                        <div class="testimonial-inner-img mb-4">
                            <img src="img/testimonial-img.jpg" class="img-fluid rounded-circle" alt="">
                        </div>
                        <p class="text-white fs-7">
                            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Asperiores nemo facilis tempora esse explicabo sed! Dignissimos quia ullam pariatur blanditiis sed voluptatum. Totam aut quidem laudantium tempora. Minima, saepe earum!
                        </p>
                        <div class="text-center">
                            <h5 class="mb-2">John Abraham</h5>
                            <p class="mb-2 text-white-50">New York, USA</p>
                            <div class="d-flex justify-content-center">
                                <i class="fas fa-star text-secondary"></i>
                                <i class="fas fa-star text-secondary"></i>
                                <i class="fas fa-star text-secondary"></i>
                                <i class="fas fa-star text-secondary"></i>
                                <i class="fas fa-star text-secondary"></i>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="testimonial-item">
                    <div class="testimonial-inner p-5">
                        <div class="testimonial-inner-img mb-4">
                            <img src="img/testimonial-img.jpg" class="img-fluid rounded-circle" alt="">
                        </div>
                        <p class="text-white fs-7">
                            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Asperiores nemo facilis tempora esse explicabo sed! Dignissimos quia ullam pariatur blanditiis sed voluptatum. Totam aut quidem laudantium tempora. Minima, saepe earum!
                        </p>
                        <div class="text-center">
                            <h5 class="mb-2">John Abraham</h5>
                            <p class="mb-2 text-white-50">New York, USA</p>
                            <div class="d-flex justify-content-center">
                                <i class="fas fa-star text-secondary"></i>
                                <i class="fas fa-star text-secondary"></i>
                                <i class="fas fa-star text-secondary"></i>
                                <i class="fas fa-star text-secondary"></i>
                                <i class="fas fa-star text-secondary"></i>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="testimonial-item">
                    <div class="testimonial-inner p-5">
                        <div class="testimonial-inner-img mb-4">
                            <img src="img/testimonial-img.jpg" class="img-fluid rounded-circle" alt="">
                        </div>
                        <p class="text-white fs-7">
                            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Asperiores nemo facilis tempora esse explicabo sed! Dignissimos quia ullam pariatur blanditiis sed voluptatum. Totam aut quidem laudantium tempora. Minima, saepe earum!
                        </p>
                        <div class="text-center">
                            <h5 class="mb-2">John Abraham</h5>
                            <p class="mb-2 text-white-50">New York, USA</p>
                            <div class="d-flex justify-content-center">
                                <i class="fas fa-star text-secondary"></i>
                                <i class="fas fa-star text-secondary"></i>
                                <i class="fas fa-star text-secondary"></i>
                                <i class="fas fa-star text-secondary"></i>
                                <i class="fas fa-star text-secondary"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Testimonial End -->
    <!-- Blog Start -->
    <div class="container-fluid blog py-5">
        <div class="container py-5">
            <div class="section-title mb-5 wow fadeInUp" data-wow-delay="0.1s">
                <div class="sub-style">
                    <h4 class="sub-title px-3 mb-0">Our Blog</h4>
                </div>
                <h1 class="display-3 mb-4">Excellent Facility and High Quality Therapy</h1>
                <p class="mb-0">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat deleniti amet at atque sequi quibusdam cumque itaque repudiandae temporibus, eius nam mollitia voluptas maxime veniam necessitatibus saepe in ab? Repellat!</p>
            </div>
            <div class="row g-4 justify-content-center">
                <div class="col-md-6 col-lg-6 col-xl-4 wow fadeInUp" data-wow-delay="0.1s">
                    <div class="blog-item rounded">
                        <div class="blog-img">
                            <img src="img/blog-1.jpg" class="img-fluid w-100" alt="Image">
                        </div>
                        <div class="blog-centent p-4">
                            <div class="d-flex justify-content-between mb-4">
                                <p class="mb-0 text-muted"><i class="fa fa-calendar-alt text-primary"></i> 01 Jan 2045</p>
                                <a href="#" class="text-muted"><span class="fa fa-comments text-primary"></span> 3 Comments</a>
                            </div>
                            <a href="#" class="h4">Remove back Pain While Working on o physio</a>
                            <p class="my-4">Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium hic consequatur beatae architecto,</p>
                            <a href="#" class="btn btn-primary rounded-pill text-white py-2 px-4 mb-1">Read More</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-6 col-xl-4 wow fadeInUp" data-wow-delay="0.3s">
                    <div class="blog-item rounded">
                        <div class="blog-img">
                            <img src="img/blog-2.jpg" class="img-fluid w-100" alt="Image">
                        </div>
                        <div class="blog-centent p-4">
                            <div class="d-flex justify-content-between mb-4">
                                <p class="mb-0 text-muted"><i class="fa fa-calendar-alt text-primary"></i> 01 Jan 2045</p>
                                <a href="#" class="text-muted"><span class="fa fa-comments text-primary"></span> 3 Comments</a>
                            </div>
                            <a href="#" class="h4">Benefits of a weekly physiotherapy session</a>
                            <p class="my-4">Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium hic consequatur beatae architecto,</p>
                            <a href="#" class="btn btn-primary rounded-pill text-white py-2 px-4 mb-1">Read More</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-6 col-xl-4 wow fadeInUp" data-wow-delay="0.5s">
                    <div class="blog-item rounded">
                        <div class="blog-img">
                            <img src="img/blog-3.jpg" class="img-fluid w-100" alt="Image">
                        </div>
                        <div class="blog-centent p-4">
                            <div class="d-flex justify-content-between mb-4">
                                <p class="mb-0 text-muted"><i class="fa fa-calendar-alt text-primary"></i> 01 Jan 2045</p>
                                <a href="#" class="text-muted"><span class="fa fa-comments text-primary"></span> 3 Comments</a>
                            </div>
                            <a href="#" class="h4">Regular excercise can slow ageing process</a>
                            <p class="my-4">Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium hic consequatur beatae architecto,</p>
                            <a href="#" class="btn btn-primary rounded-pill text-white py-2 px-4 mb-1">Read More</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Blog End -->
}
