@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    @using Models.SQLServer;
    @model List<Service>
}

<div class="row">
    @foreach (var service in Model)
    {
        <div class="col-md-3 mb-3" style="height: 15rem">
            <div class="card h-100 shadow" style="background-image: url('@(service.Images.Count == 0 ? "/images/HolaGuide_avt.png" : service.Images.First().Value)'); 
                                                  position: relative; background-position: center;">
                <div class="card-info">
                    <a asp-page="/Service/Detail" asp-route-serviceId="@service.Id"><h6 class="card-title">@service.Name</h6></a>
                    <p class="card-subtitle">@service.Location.Description</p>
                </div>
            </div>
        </div>
    }
</div>
<style>
    .card-info{
        position: absolute;
        bottom: .5rem;
        left: 0;
        height: 30%;
        width: 100%;
        background-color: rgba(0,0,0,0.4);
        padding: 1rem;
    }
    .card-title{
        color: white;
    }
    .card-title:hover{
        text-decoration: underline;
        color: white;
    }
    .card-subtitle{
        color: #dddddd;
        font-size: .8rem
    }
    .card-price{
        color: black;
        font-weight: normal;
        font-size: .8rem;
    }
    .card-footer{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        background-color: white;
        border-top: .5px solid rgba(0, 0, 0, .125);
        padding-bottom: 1rem;
    }
    .card-body{
        padding-bottom: 0;
    }   
    .save-button{
        padding: 0 0.25rem;
        font-size: .8rem;
    }
    form{
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    .service-title:hover{
        text-decoration: underline;
        color: black;
    }
</style>
