<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - HolaGuide</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/HolaGuide.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav id="myNavbar" class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow" 
             style="padding: 1rem 0; position: fixed; top: 0; width: 100%; z-index: 1000;">
            <div class="container">
                <a class="navbar-brand" style="font-family: cursive; color: #162c5b" asp-area="" asp-page="/Home/UserHome">HolaGuide</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="col-1"></div>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <div class="col">
                        <!--Search Bar-->
                        <form class="form-inline my-2 my-lg-0 ml-auto w-100" method="post" action="@Url.Page("Search", "Index")">
                            <div class="input-group w-100">
                                <input class="form-control flex-grow-1 shadow-sm" type="search" placeholder="Tìm kiếm dịch vụ của chúng tôi" aria-label="Search" name="query">
                                <div class="input-group-append">
                                    <button class="btn btn-outline-success shadow" type="submit">Search</button>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="col-2 px-2">
                        <div class="dropdown">
                            <button class="btn btn-white btn-outline-secondary shadow" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                <i class="fa-solid fa-bars"></i>
                            </button>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="#">Đăng ký dịch vụ</a></li>
                                <li><a class="dropdown-item" href="#">Đăng ký gói thành viên</a></li>
                                <li><a class="dropdown-item" href="#">Đăng ký quảng cáo</a></li>
                            </ul>
                        </div>
                    </div>
                    @if (User.Identity != null && User.Identity.IsAuthenticated)
                    {
                        <div class="col-auto">
                            <div class="bg-success text-white">
                                <span>@User.Claims.FirstOrDefault(c => c.Type == "Email")?.Value</span>
                                <a asp-page="/Authentication/Logout">Đăng Xuất</a>
                            </div>
                        </div>
                    }
                    else
                    {
                        <div class="col-auto d-flex flex-row justify-content-between align-items-center">
                            <i class="fa-regular fa-circle-user" style="margin-right: .5rem; font-size: 1.25rem"></i>
                            <a asp-page="/Authentication/Login">Đăng Nhập</a>
                        </div>
                    }
                </div>
            </div>
        </nav>
    </header>
    <div id="content" class="w-100" style="min-height: 100vh">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2024 - HolaGuide - <a asp-area="" asp-page="/Privacy">Privacy</a>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="https://kit.fontawesome.com/071e3e204d.js" crossorigin="anonymous"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>

<style>
    body{
        color: #4F6083;
        font-family: Lexend, sans-serif;
    }
    a {
        color: #4F6083;
        text-decoration: none;
    }

        a:hover {
            color: dodgerblue;
        }

    li {
        list-style-type: none;
        padding: 0.5rem 1rem;
        font-weight: 400;
    }

        li:hover {
            background: #f7f7f7;
        }
    .dropdown-item:hover{
        background-color: transparent;
    }
    .btn-outline-secondary{
        border-color: rgba(0,0,0,0.2);
        color: rgba(0,0,0,0.6);
    }
    .border-bottom{
        border-bottom: 1px solid rgba(206,168,154,0.3);
    }
    h1,h2,h3,h4,h5,h6{
        font-weight: bold;    
        color: #4F6083;
    }
    i {
        font-size: 1rem;
        color: black;
    }
</style>

<script>
    document.addEventListener("DOMContentLoaded", function () {
        // Get the height of the navbar
        var navbarHeight = document.getElementById("myNavbar").offsetHeight;

        // Set padding-top for the content area
        document.getElementById("content").style.paddingTop = navbarHeight + "px";
    });
</script>
