<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>HolaGuide</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/HolaGuide.styles.css" asp-append-version="true" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Sevillana&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="icon" type="image/x-icon" href="/images/holaguide.ico" />

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://kit.fontawesome.com/071e3e204d.js" crossorigin="anonymous"></script>
    <script src="~/microsoft/signalr/dist/browser/signalr.min.js"></script>
    <script src="~/js/site.js"></script>
</head>
<body>
    <header>
        <nav id="myNavbar" class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow"
             style="padding: 1rem 0; position: fixed; top: 0; width: 100%; z-index: 1000;">
            <div class="container">
                <a class="navbar-brand" style="font-family: 'Poetsen One', sans-serif; color: #162c5b;" asp-area="" asp-page="@((!User.Identity.IsAuthenticated || User.Claims.First(c => c.Type == "Role").Value.Equals("user")) ? "/Home/UserHome" : "/Home/AdminHome")">HolaGuide✦</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <div class="col"></div>
                    <div class="col-auto px-2">
                        <div><a asp-area="" asp-page="@((!User.Identity.IsAuthenticated || User.Claims.First(c => c.Type == "Role").Value.Equals("user")) ? "/Home/UserHome" : "/Home/AdminHome")">Trang chủ</a></div>
                    </div>
                    @if (User.Identity != null && User.Identity.IsAuthenticated)
                    {
                        @if (User.Claims.First(c => c.Type == "Role").Value.Equals("user"))
                        {
                            <div class="col-auto px-2">
                                <div><a asp-area="" asp-page="/General/AboutUs">Giới thiệu</a></div>
                            </div>
                            <div class="col-auto px-2">
                                <div class="dropdown">
                                    <button class="btn-custom" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                        Dịch vụ
                                    </button>
                                    <ul class="dropdown-menu shadow">
                                        <li><a class="dropdown-item" href="#">Dịch vụ của tôi</a></li>
                                        <li><a class="dropdown-item" asp-page="/Subscription/Register">Đăng ký gói thành viên</a></li>
                                        <li><a class="dropdown-item" href="#">Đăng ký quảng cáo</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-auto">
                                <div class="dropdown">
                                    <button class="btn-custom" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                        @User.Claims.FirstOrDefault(c => c.Type == "Code")?.Value
                                    </button>
                                    <ul class="dropdown-menu">
                                        <li><a class="dropdown-item" href="#">Hồ sơ của tôi</a></li>
                                        <li><a class="dropdown-item" asp-page="/Authentication/Logout">Đăng Xuất</a></li>
                                    </ul>
                                </div>
                            </div>
                        }
                        else
                        {
                            <div class="col-auto px-2">
                                <div><a asp-area="" asp-page="/Admin/Course">Quản lý dịch vụ</a></div>
                            </div>
                            <div class="col-auto px-2">
                                <div><a asp-area="" asp-page="/General/AboutUs">Quản lý tài khoản</a></div>
                            </div>
                            <div class="col-auto">
                                <div class="dropdown">
                                    <button class="btn-custom" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                        Admin
                                    </button>
                                    <ul class="dropdown-menu">
                                        <li><a class="dropdown-item" href="#">Hồ sơ của tôi</a></li>
                                        <li><a class="dropdown-item" asp-page="/Authentication/Logout">Đăng Xuất</a></li>
                                    </ul>
                                </div>
                            </div>
                        }
                    }
                    else
                    {
                        <div class="col-auto px-2">
                            <div><a asp-area="" asp-page="/General/AboutUs">Giới thiệu</a></div>
                        </div>
                        <div class="col-auto px-2">
                            <div class="dropdown">
                                <button class="btn-custom" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    Dịch vụ
                                </button>
                                <ul class="dropdown-menu shadow">
                                    <li><a class="dropdown-item" href="#">Dịch vụ của tôi</a></li>
                                    <li><a class="dropdown-item" asp-page="/Subscription/Register">Đăng ký gói thành viên</a></li>
                                    <li><a class="dropdown-item" href="#">Đăng ký quảng cáo</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-auto px-2">
                            <a asp-page="/Authentication/Login">Đăng Nhập</a>
                        </div>
                    }
                </div>
            </div>
        </nav>
    </header>
    <div id="content" class="w-100">
        <main role="main">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer">
        <div class="container">
            <div class="row text-center">
                <h5 style="color: #E6EFF8">Thông tin liên hệ</h5>
                <div class="footer-contact-area">
                    <div class="footer-contact-item"><i class="fa-brands fa-facebook" style="color: #E6EFF8"></i><a style="color: #E6EFF8" href="https://www.facebook.com/profile.php?id=61560169739725">HolaGuide</a></div>
                    <div class="footer-contact-item"><i class="fa-solid fa-envelope" style="color: #E6EFF8"></i><a style="color: #E6EFF8">Hzned2019@gmail.com</a></div>
                    <div class="footer-contact-item"><i class="fa-solid fa-phone" style="color: #E6EFF8"></i><a style="color: #E6EFF8">0969645417</a></div>
                </div>
                <p>&copy; 2024 - HolaGuide - Holaguide.click</p>
            </div>
        </div>
    </footer>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
