<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - HolaGuide</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/HolaGuide.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav id="myNavbar" class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow" style="padding: 1rem 0; position: fixed; top: 0; width: 100%">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-page="/Home/UserHome">HolaGuide</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <div class="col-auto" style="padding: 0 0.5rem;">
                        @await Component.InvokeAsync("CategoryDropdown")
                    </div>
                    <div class="col">
                        <!--Search Bar-->
                        <form class="form-inline my-2 my-lg-0 ml-auto w-100" method="post" action="@Url.Page("Search", "Index")">
                            <div class="input-group w-100">
                                <input class="form-control flex-grow-1" type="search" placeholder="Tìm kiếm dịch vụ của chúng tôi" aria-label="Search" name="query">
                                <div class="input-group-append">
                                    <button class="btn btn-outline-success" type="submit">Search</button>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="col-2"></div>
                    @if (User.Identity != null && User.Identity.IsAuthenticated)
                    {
                        <div class="col-auto">
                            <div class="bg-success text-white">
                                <span>@User.Claims.FirstOrDefault(c => c.Type == "Email")?.Value</span>
                                <a asp-page="/Authentication/Logout">Đăng Xuất</a>
                            </div>
                        </div>
                    }
                    else
                    {
                        <div class="col-auto">
                            <a asp-page="/Authentication/Login">Đăng Nhập</a> / <a asp-page="/Authentication/Login">Đăng Ký</a>
                        </div>
                    }
                </div>
            </div>
        </nav>
    </header>
    <div id="content" class="w-100" style="background-color: #eeeeee; min-height: 100vh">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2024 - HolaGuide - <a asp-area="" asp-page="/Privacy">Privacy</a>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
