<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - HolaGuide</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/HolaGuide.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav id="myNavbar" class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow" 
             style="padding: 1rem 0; position: fixed; top: 0; width: 100%; z-index: 1000;">
            <div class="container">
                <a class="navbar-brand" style="font-family: cursive; color: #162c5b" asp-area="" asp-page="/Home/UserHome">HolaGuide</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <div class="col"></div>
                    <div class="col-auto px-2">
                        <div><a>Trang chủ</a></div>
                    </div>
                    <div class="col-auto px-2">
                        <div class="dropdown">
                            <button class="btn btn-custom" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Dịch vụ
                            </button>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="#">Đăng ký dịch vụ</a></li>
                                <li><a class="dropdown-item" href="#">Đăng ký gói thành viên</a></li>
                                <li><a class="dropdown-item" href="#">Đăng ký quảng cáo</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-auto px-2">
                        <div><a>Giới thiệu</a></div>
                    </div>
                    @if (User.Identity != null && User.Identity.IsAuthenticated)
                    {
                        <div class="col-auto">
                            <div>
                                <span>@User.Claims.FirstOrDefault(c => c.Type == "Email")?.Value</span>
                                <a asp-page="/Authentication/Logout">Đăng Xuất</a>
                            </div>
                        </div>
                    }
                    else
                    {
                        <div class="col-auto px-2">
                            <a asp-page="/Authentication/Login">Đăng Nhập</a>
                        </div>
                    }
                </div>
            </div>
        </nav>
    </header>
    <div id="content" class="w-100" style="min-height: 100vh">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer">
        <div class="container">
            &copy; 2024 - HolaGuide - <a asp-area="" asp-page="/Privacy">Privacy</a>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://kit.fontawesome.com/071e3e204d.js" crossorigin="anonymous"></script>
    <script src="~/js/site.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
