@page
@model ErrorModel
@{
    ViewData["Title"] = "Error";
}

<h1 class="text-danger">Server internal error.</h1>
<h2 class="text-danger">Oops we are having some error, please report this or try again later.</h2>


