@page
@model HolaGuide.Pages.Static.NotFoundModel
@{
}

<h2>Không tìm thấy dữ liệu!</h2>
<p>Chúng tôi rất tiếc vì dữ liệu bạn xem trên trang không tồn tại hoặc sai địa chỉ. Vui lòng liên hệ với quản trị viên hoặc quay lại trang chủ! <a asp-page="/Home/UserHome">Quay lại trang chủ</a></p>
